useDynLib(cplm, .registration=TRUE)

############################
#  import 
############################
import(Matrix)
import(coda)
importFrom(minqa, bobyqa)
importMethodsFrom(methods, show)
importClassesFrom(lme4, mer, summary.mer)
importMethodsFrom(lme4, VarCorr, vcov, mcmcsamp, residuals, resid,
			fitted, terms, formula, deviance, model.matrix, 
			coef, plot)
importMethodsFrom(stats4, AIC)
importMethodsFrom(amer, predict)

############################
#  export 
############################
# functions 
export(cpglm, cpglmm, bcpglm, bcpglmm)
export(igamma, iwish, sp2d)

#Classes
exportClasses(cplm, cpglm, cpglmm, bcpglm, bcpglmm, summary.cpglmm)
exportClasses(NullNum, NullList)
           
#Methods
exportMethods(summary, show,  "$", "[[", "[", names, coef, vcov, 
              residuals, resid, fitted, 
		  AIC, deviance, terms, formula, model.matrix, plot,
		  VarCorr,  mcmcsamp, predict)
