useDynLib(cplm, .registration = TRUE)

############################
#  import 
############################
import(Matrix)
import(coda)
import(ggplot2)
import(biglm)
importFrom(minqa, bobyqa)
importFrom(reshape2, melt)
importFrom(statmod, tweedie)
importFrom(tweedie, dtweedie.series, dtweedie, tweedie.dev)
importMethodsFrom(methods, show)
importFrom(nlme, fixef, ranef, VarCorr)
importFrom("stats4", AIC, BIC, logLik)# so S4 methods are used!
importFrom("stats",
           anova,
           coef,
           confint,
           deviance,
           fitted,
           formula,
           model.frame,
           model.matrix,
           predict,
           residuals, resid,  
           terms,
           vcov
           )


############################
#  export 
############################
# functions 
export(cpglm, cpglmm, bcplm, zcpglm, gini)
export(sp2d)
export(getF, plotF, tp, bsp)   #amer functions

#Classes
exportClasses(cplm, cpglm, cpglmm, bcplm, summary.cpglmm, zcpglm, gini)
exportClasses(NullNum, NullList, NullFunc, ListFrame)
           
#Methods
exportMethods(summary, show,  "$", "[[", "[", names, coef, vcov, 
              residuals, resid, fitted, fixef, ranef, logLik, anova, 
		  AIC, deviance, terms, formula, model.matrix, plot,
		  VarCorr, predict)
S3method(model.frame, cplm)